.Base::after{
    background-image: linear-gradient(to right,rgba(255,255,255,0)0,rgb(41, 41, 41) 100%);
}

.Allboxs:hover .divdown {
    top: 302px;
    transition: .5s ;
}
::-webkit-scrollbar {
    display: none;
}

.slider-item.activee{
    border: 8px solid red;
    filter: brightness(1);
}

.line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.paragraph{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.im1g:hover .Icon{
    top: 40%;
    font-size: 80px;
    animation: bounce 1.6s infinite;
}
.im1g:hover .Icons{
    top: 40%;
    font-size: 60px;
    animation: bounces 1.6s infinite;
}
.Likee{
    animation: LIKE cubic-bezier(0.6, -0.48, 0.735, 0.045) 1s forwards;

}

@keyframes LIKE {
    0% {
        transform: scale(1) rotate(0deg) ;
      }
      50% {
        transform: scale(1.6) rotate(360deg);
    }
    /* 80%{
          transform: scale(2) rotate(360deg);

      } */
      100% {
        transform: scale(1);
      }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-50%) translateX(-50%) ;
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateX(-40px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
@keyframes bounces {
    0%, 100% {
        transform: translateY(-50%) translateX(-50%) ;
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateX(-30px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }





.im1g:hover .year{
    right: 0px;
}
.im1g:hover .rate{
    left: 8px;
    transition-delay: 200ms;
}
.im1g:hover .title{
    bottom: 10px;
    transition-delay: 180ms;
}

.im1g:hover .ovelayUpComingMovies{
    background: linear-gradient(to right, #01022de5, transparent);
}

.cate.active{
    background-color: #126;
}

.makescroll{
    overflow: auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

.Category{
    left: 0;
}