a{
    display: block;
}
.practicingbtn:hover + ul,.practicingbtn + ul:hover{
    top: 36px;
    opacity: 1;
    visibility: visible;
}
.practicingbtn2:hover + ul ,.practicingbtn2 + ul:hover{
    top: -5px;
    opacity: 1;
    visibility: visible;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);

}
.nav-link.active{
    color: white;
}
